html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    height: 2000px;
    background-image: url('../pages/ww1tank.jpg');
}

.fbc-display {
    max-width: 750px;
    display: flex;
    flex-direction: column;
}

.round-fbc {
    max-width: 750px;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #2222aa;
}

.margin-center {
    margin: 0 auto 0 auto;
}

.margin-bottom {
    margin-bottom: 10px;
}

.padding {
    padding: 10px;
}

.padding-more {
    padding: 20px;
}

.color-1 {
    background-color: salmon;
}

.color-2 {
    background-color: teal;
}

.color-3 {
    background-color: lightgray;
}

.border {
    border-radius: 7px;
}

.right-padding {
    padding-right: 30px;
}

.abandoned {
    text-decoration: line-through;
}