<table>
  <tbody>
    <th>player</th>
    <th>board</th>
    <th>score</th>
    <th>country</th>
    {{#each test}}
    <tr>
      <td class="right-padding">{{{this.name}}}</td>
      <td class="right-padding">{{{this.round2Board}}}</td>
      <td class="right-padding">{{{this.round2Score}}}</td>
      <td class="right-padding">{{{this.round2Country}}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>